
    
<footer class="py-3 my-4" id="foot">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3" id="foot">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted" id="foot">Contact</a></li>
      <li class="nav-item"><a href="/tech" class="nav-link px-2 text-muted">Technical</a></li>
      <li class="nav-item"><a href="/nontech" class="nav-link px-2 text-muted">Non-Technical</a></li>
      <li class="nav-item"><a href="/mba" class="nav-link px-2 text-muted">MBA</a></li>
    </ul>
    <p class="text-center text-muted" id="foot">© Copyright Harsha Mysore</p>
  </footer>
</body>
