<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/contact.css" />
</head>
<body>

    <div class="body-content">
        <h1>Contact Details:  </h1>
        <hr>
        <div id="mobile">
            <h4 >MD. Farzan Uddin : </h4>
            <h4 >7036384351</h4>
        </div>
        <div id="mobile">
            <h4 >D. Dineshwar :</h4>
            <h4 >7801060504</h4>
        </div>
        <div id="mobile">
            <h4 >Easha Reddy :</h4>
            <h4 >7731876367</h4>
        </div>
        <div id="mobile">
            <h4 >CH Vinay Kumar :</h4>
            <h4 >9849786345</h4>
        </div>
        <div id="mobile">
            <h4 >B. Sanjay Surya :</h4>
            <h4 >7382096472</h4>
        </div>
    </div>
    <%-include("partials/footer");-%>
    </html>
  