<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/contact.css" />
</head>
<body>

    <div class="body-content">
        <h1>Contact Details:  </h1>
        <hr>
        <div id="mobile">
            <h4 >Mobile 1: </h4>
            <h4 >8235428686</h4>
        </div>
        <div id="mobile">
            <h4 >Mobile 2: </h4>
            <h4 >8235428683</h4>
        </div>
    </div>
    <%-include("partials/footer");-%>
    </html>
  