const db = <%= dbs %>;

db.forEach((ele)=>{
    <div class="object">
        <h1>ele.branch</h1>
        <h1>ele.t1name</h1>
        <h1>ele.email</h1>
        <h1>ele.mobile</h1>
        <h1>ele.t1rno</h1>
    </div>
})