<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/home.css" />
</head>
<body>

    <div class="body-content">
        <h1>Illuminate 2k22</h1>
        <hr>
        <h4>About the event: </h4>
        <p>Hey folks!! 
            CMRIT welcomes you to ILLUMINATE 2K22, a knowledgeable and fun-filled event. Have you got any fascinating ideas?? How creative are you??
            Here's the chance for you to create a way to design a memorable day.
            Our event is so well-balanced that it includes both technical and non-technical events. 
            Here are some unique attractions that are well worth your TIME.</p>
    </div>
<%-include("partials/footer");-%>
</html>