<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/home.css" />
</head>
<body>

    <div class="body-content">
        <h1>Illuminate 2k22</h1>
        <hr>
        <h4>About the event: </h4>
        <p>Hey folks!! 
            CMRIT welcomes you to ILLUMINATE 2K22, a knowledgeable and fun filled event. This is an event like no other. We are bringing to you a palette of brainstorming technical events and joyful non technical events. Pick your color or you can also juggle in between them. Showcase your talents in face painting, coding contest, photography contest, short film contest, poster presentation and lot more. Get your hands filled with mehndi, get your faces painted beautifully and make sure to capture those moments.</p>
    </div>
<%-include("partials/footer");-%>
</html>