<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Advertisement Maker</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Advertising is such a potent psychological tool that many people underestimate its impact on daily life. A profitable firm is one that can influence people through advertising.
            The participant must develop their product and market it in such a way that the opponent agrees to purchase it. The most effective influencer is also the most effective ad maker.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Advertisement Maker" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Business Proposals</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>A business proposal is intended to attract potential customers to buy what a company sells. A quality product or service is simply one of many factors that go into successful selling.
            The participant must submit an original business plan (a plan which is not been implemented yet).</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Business Proposals" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Jam</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>JAM stands for "Just a Minute." JAM sessions help in assessing candidates' communication abilities and general knowledge.
            The participant will be given a topic and have one minute to speak on it.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Jam" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Business Quiz</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>A business quiz is a fun and educational approach to test your knowledge while also teaching you more about business, making you a better businessman/woman or entrepreneur.
            The quiz will cover a variety of subjects relating to different business activities.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Business Skills" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Young Manager</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>The Young Manager competition is presented to acknowledge competitive excellence among young managers and to provide them with an unrivaled opportunity to polish their analytical, creative, problem-solving, team-building, and leadership skills.
            A RESUME must be brought to the competition by each participant.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Young Manager" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    
</section>

<%-include("partials/footer");-%>
</html>