<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Advertisement Maker</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Advertisement Maker" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Business Proposals</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Business Proposals" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Jam</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Jam" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Business Skills</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Business Skills" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Young Manager</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Young Manager" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Brain Storming</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Brain Storming" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Team Building</h3>
          </div>
          <div class="card-body">
            <h5>Description</h5>
            <p>Event details</p>
            <form action="/register" method="post">
              <input type="hidden" name="decider" value="2" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Team Building" type="submit">
                Register
              </button> 
          </form>
          </div>
        </div>
      </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>