<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Rangoli</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Rangoli is drawn in several states with various names and themes. Every region has its distinct style of reflecting its customs, folklore, and practices, whether it be Kollam in Tamil Nadu, Sathiya in Gujarat, Alpana in Bengal, or simply the Rangoli in Maharashtra. Now is your time to showcase your artistic abilities by taking part in the Rangoli Competition.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <input type="hidden" name="type" value="non-tech" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Rangoli" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Short Film</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Everyone enjoys something brief and to-the-point. The addition of a visual depiction is the icing on the cake! Finalize your films and show them at the Illuminate 2K22 Short film festival, where they will compete for hearts!!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <input type="hidden" name="type" value="non-tech" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Short Film" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Mehendi</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Mehendi is a beautiful representation of Indian culture, with many beautiful thoughts and values. The wedding season is a long way off, and having too many ideas on hand might be detrimental to your mental health. Bring your Mehendi tool and make those palm lines even more beautiful.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <input type="hidden" name="type" value="non-tech" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Mehendi" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>



    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Photography Contest</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>It's a sin to hide a wonderful photograph!!! Presenting your spectacular catch at the Illuminate 2K22 photography contest will bless our eyes..</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <input type="hidden" name="type" value="non-tech" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Photography Contest" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Face Painting</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>You are an incredible face painter with boundless talent. 
            How about adding “Award-Winning” to your title? What more could you want? REGISTER NOW!!!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <input type="hidden" name="type" value="non-tech" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Face Painting" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Treasure Hunt</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>Tell me about an exciting non-technical event!!!!!! Treasure hunt, the idea of hunting for hidden treasures has always been exciting and adventurous.
              (Team of 4)
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB9x34DzkcRui" async> </script> </form>
          </div>
        </div>
      </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>BGMI Duo</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>TDM Duo Battles
              Cash prize will be given to the winners.
            <a href="https://docs.google.com/document/d/1VgSZuAYVVaa0ejorTfYVDkZVKp5bqjRIzIatvZ3oYbQ/edit">Rules</a>
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB1dbxGOYK8cK" async> </script> </form>
          </div>
        </div>
      </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>BGMI Squad</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>TDM Squad Battles
              Cash prize will be given to the winners.
              <a href="https://docs.google.com/document/d/1VgSZuAYVVaa0ejorTfYVDkZVKp5bqjRIzIatvZ3oYbQ/edit">Rules</a>
            </p>
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JFB3TRo61lnHH9" async> </script> </form>
          </div>
        </div>
      </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>