<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Rangoli</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Showcase your imagination and color coordinations at the rangoli contest  and help us make our
            Illuminate 2k22, A colourful event!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Rangoli" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Short Flim</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Everybody likes something that is short and on-point. Upon that, a visual representation is a cherry on top of the cake! Do a final check and
            present your films at the Illuminate 2k22 Short film event and see them win hearts!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Short Flim" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Mehendi</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Marriage season is faaaaaar away and too many ideas stocked up can really damage your brain. Bring your mehandi gadget and add beauty
            to those palm lines.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Mehendi" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>



    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Photography Contest</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Hiding a beautiful capture is a sin!!! Bless our eyes by presenting your stunning capture at the Illuminate 2k22 photography contest.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Photography Contest" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Face Painting</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Always wanted to see your art come alive? Face painting is the best way! Get creative, grab your colors, brushes and paint the world 
            beautiful.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Face Painting" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Treasure Hunt</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>TREASURE HUNT
              Tell me a more exciting non-technical event!!!!!! Treasure hunt is an absolute fun event that keeps us engaged and gives us a lifetime
              memory to treasure.</p>
            <form action="/register" method="post">
              <input type="hidden" name="decider" value="4" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Treasure Hunt" type="submit">
                Register
              </button> 
          </form>
          </div>
        </div>
      </div>

      <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Gaming</h3>
          </div>
          <div class="card-body">
            <h5>Event details: </h5>
            <p>Registrations will open soon.</p>
            <form action="#" method="post">
              <input type="hidden" name="decider" value="4" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Treasure Hunt" type="submit">
                Register
              </button> 
          </form>
          </div>
        </div>
      </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>