<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Rangoli</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Rangoli" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Short Flim</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Short Flim" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Mehendi</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Mehendi" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Dance</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Dance" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Photography Contest</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Photography Contest" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Face Painting</h3>
        </div>
        <div class="card-body">
          <h5>Description</h5>
          <p>Event details</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="2" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Face Painting" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
        <div class="card" id="event">
          <div class="card-header">
            <h3>Treasure Hunt</h3>
          </div>
          <div class="card-body">
            <h5>Description</h5>
            <p>Event details</p>
            <form action="/register" method="post">
              <input type="hidden" name="decider" value="2" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Treasure Hunt" type="submit">
                Register
              </button> 
          </form>
          </div>
        </div>
      </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>