<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Technical Quiz</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Quizzes are the most exciting events of all, Ofcourse after debates! Bring with you, your Talent, Timing and Teamspirit to the Illuminate 
            2k22 technical quiz, let go your anxiety and fears. Yeaaay! you are already a winner.</p>
          <form action="/register" method="post">
              <input type="hidden" name="decider" value="4" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Technical Quiz" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Coding</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>A technical event is incomplete without coding contest. Illuminate 2k22 wouldn't let go the chance to provide a platform for the codaholics!
            Coding contests are like the family functions to which your favorite cousin will attend for sure! How'd you miss that?</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Coding" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Paper Presentation</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>All that research time is worth appreciation! We are trying our best to understand the effort you have put in making a paper work. Present your papers at the Illuminate 2k22 Paper presentation
            event and enjoy the reap!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Paper Presentation" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Poster Presentation</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>POSTER PRESENTATION
            It is the eyes that capture and imprint moments ! As a part of Illuminate 2k22, Bring your ideas and thoughts to life by making an on-point
            poster. After you have covered the solid part, toppings can be added to attract the viewers. Present them on D DAY!
            Do not forget to mention your details.</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Poster Presentation" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Project Expo</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Hey Brilliant minds! Get out there and work on your projects or dust off those that you couldn't present, Because Illuminate 2k22 Project
            expo gives you the stage to present your ideas. Bring the projects in good condition and let them do the magic!</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Project Expo" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>