<%-include("partials/nav");-%>
<link rel="stylesheet" href="/public/css/styles.css">
<title>Events</title>
</head>

<body>
<!--Title-->
<h1 id="head">Events</h1>

<!--Events-->
<section>
  <div class="row">
    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Technical Quiz</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>After discussions, quizzes are the most fascinating activities of all! Bring your talent, timing, and team spirit to the Illuminate 2K22 technical quiz, and let go of your concerns and anxieties. 
            Yeaaay! You've already proven yourself to be a winner.</p>
          <form action="/register" method="post">
              <input type="hidden" name="rules" value="google"  />
              <input type="hidden" name="decider" value="4" />
              <button class="btn btn-lg btn-outline-dark" name="event" value="Technical Quiz" type="submit">
                Register
              </button> 
          </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Coding</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Without a coding competition, a technical event would be incomplete. Illuminate 2K22 couldn't pass up the opportunity to give codaholics a stage!
            Coding competitions are similar to family gatherings, which your favorite cousin will undoubtedly attend! How would you miss it?</p>
          <form action="/register" method="post">
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Coding" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Paper Presentation</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>We're doing our best to comprehend the effort you've put into creating a paper presentation, that presents your opinions on a specific topic based on research. That time spent researching is worth it! Enjoy the harvest by presenting your papers at the Illuminate 2K22 Paper Presentation event!</p>
          <form action="/register" method="post">
  
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Paper Presentation" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Poster Presentation</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Things are captured and stored by the eyes! 
            A poster presentation is a concise and aesthetically amusing approach to expressing your research or understanding of a topic.
            Make an on-point poster as a part of ILLUMINATE 2K22 to bring your ideas and thoughts to life. Add toppings after you coat the solid area to attract viewers. 
            DON'T FORGET TO PRESENT THEM ON D-DAY!</p>
          <form action="/register" method="post">
            <input type="hidden" name="rules" value="google" />
            <input type="hidden" name="decider" value="1" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Poster Presentation" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>

    <div class="events-col col-lg-4 col-sm-12">
      <div class="card" id="event">
        <div class="card-header">
          <h3>Project Expo</h3>
        </div>
        <div class="card-body">
          <h5>Event details: </h5>
          <p>Hello there, brilliant minds! Get out there and work on your projects, or dust off those you didn't get a chance to exhibit since the Illuminate 2K22 Project Expo will provide you with the opportunity to do so. Bring the projects in good shape and then sit back and let them work their magic!</p>
          <form action="/register" method="post">
            <input type="hidden" name="rules" value="google" />
            <input type="hidden" name="decider" value="4" />
            <button class="btn btn-lg btn-outline-dark" name="event" value="Project Expo" type="submit">
              Register
            </button> 
        </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<%-include("partials/footer");-%>
</html>