body{
    
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-purple-gradient-flat-space-planet-banner-background-image_229576.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-content{
    display: flex;
    margin: 170px;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background: linear-gradient(to bottom right, #c644c9 0%, #4b319e 100%);
    border-radius: 8px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}
.body-content h1,p{
    text-align: center;
    margin: 25px;
}
.body-content p{
    text-align: left;
    margin-left: 40px;
}
.body-content hr{
    width: 85%;
    margin-left: 60px;
}
.body-content h4{
    margin: 10px;
    margin-left: 40px;
}



@media screen and (max-width:600px){
    .body-content{
        margin-left: 70px;
    }
    .body-content hr{
        margin-left: 28px;
    }
}