body{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-purple-gradient-flat-space-planet-banner-background-image_229576.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#form-label{
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}
.form-body{
    font-family: 'Julius Sans One', sans-serif;
    background: linear-gradient(to bottom right, #c644c9 0%, #4b319e 100%);
    margin: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
    margin-top: 20px;
    border-radius: 20px;

}
.event-details h2{
    text-align: center;
}

.event-details,.form, #div, input,label,.event-details h3,button{
    margin: 20px;
}
.event-details h2{
    margin-top: 20px;
}
input{
    display: block;
    height: 30px;
    width: 90%;
}
#details{
    margin: 10px;
}

#reg{
    margin-left: 37px;
    width:86%;
    height: 33px;
    align-content: center;
    justify-content: center;
}

.hr-head{
    width : 90%;
    margin-left:35px ;
    margin: 40px;
}
#nav-input,#nav-btn{
    height: 35px;
    margin: 7px;
    
}

.hide{
    display: none;
}

#foot{
    color: white;
}

.special{
    color: white;
    text-decoration: none;
}
#link{

    color: white;
}
@media screen and (max-width:600px) {
    .form-body{
        margin :40px;
        width: 80%;
    }
    .event-details{
        margin-left: 5px;
    }
    #div{
        margin-left: 10px;
        width: 90%;
    }
    #reg{
        margin-left: 26px;
        width: 83%;
    }
    
}